apiVersion: apps/v1
kind: Deployment
metadata:
  name: udacity-capstone-project-1-0
spec:
  replicas: 1
  selector:
    matchLabels:
      app: udacity-capstone-project
      version: 1-0
  template:
    metadata:
      labels:
        app: udacity-capstone-project
        version: 1-0
    spec:
      containers:
      - name: udacity-capstone-project
        image: dinhtin12/devops-capstone:1.0.0
        ports:
        - containerPort: 80
